<div class="container pl-5">
    <div class="col" style="line-height: 1.5;" >
        <introText0>Paradis</introText0><br>
        <introText1>Backend Developer</introText1><br>
        <introText2>I'm an independent <hi>Data Scientist</hi> and <hi>Fulll Stack Web Developer</hi> with over <hi>6 years of experience</hi><br>
            I was born in Argentina, but have more than 10 years practicing english</introText2>
    </div>
</div>