<div class="container-fluid">
    <div class="row">
        <div class="col-3 scrollable" style="color: white; padding-left: 8%;">
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
            <p>tree of options</p>
        </div>
        <div class="col-7" id="terminal">
            <!-- terminal -->
        </div>
    </div>
</div>

<template id="greetings">
    █▀█ ▄▀█ █▀█ ▄▀█ █▀▄ █ █▀
    █▀▀ █▀█ █▀▄ █▀█ █▄▀ █ ▄█
</template>

<script src="terminal.js"></script>
