<div class="container-fluid" style="height: 120px; background-color: var(--bgColorMain); ">
    <div class="d-flex justify-content-end headerContainer p-5">
        <p class="pl-5">Who Am I?</p>
        <p class="pl-5">Contact</p>
        <p class="pl-5">Proyects</p>
        <p class="pl-5">Help</p>
        <div class="col-1"></div>
    </div>
</div>