<div class="container pl-5">
    <div class="col" style="line-height: 1.5;" >
        <introText0>Paradis</introText0><br>
        <introText1>Backend Developer</introText1><br>
        <introText2>bla bla bla <hi>Data Scientist</hi> and <hi>Fulll Stack Web Developer</hi> bla bla <hi>6 years of experience</hi><br>
            bla bla bla bla bla bla</introText2>
    </div>
</div>